#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'

# By default, the examples support both mnemonic-based and private key-based authentication
# 
# You don't need to set both of these values, just pick the one that you prefer and set that one
MNEMONIC=
PRIVATE_KEY=

# Addresses for AaveV3Composer deployment
# You can specify a generic address or network-specific addresses
# Network-specific variables take precedence over generic ones
# Format: COMPONENT_ADDRESS_<NETWORK_NAME_UPPERCASE_WITH_UNDERSCORES>
AAVE_V3_POOL_ADDRESS=
# AAVE_V3_POOL_ADDRESS_BASE_MAINNET=
# AAVE_V3_POOL_ADDRESS_ARBITRUM_MAINNET=

STARGATE_POOL_ADDRESS=
# STARGATE_POOL_ADDRESS_BASE_MAINNET=
# STARGATE_POOL_ADDRESS_ARBITRUM_MAINNET=
